html{
    scroll-behavior: smooth;
}
.background{
    aspect-ratio: 1/25;
    max-height: 390vh;
}
.scroll-point{
    position: absolute;
    top: 105vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.blog-intro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    width: 100%;
    font-size: 5rem;
    border-bottom: 2px double antiquewhite;
}
.background-intro{
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to top,#000, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to top,#000, rgba(0, 0, 0, 0));
    opacity: 70%;
    position: absolute;
}
.circle-border{
    border-radius: 50%;
    border: 2px solid antiquewhite;
    height: 7rem;
    width: 7rem;
    position: absolute;
    padding: 0.5rem;
    bottom: -3.5rem;
}
.arrows{
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.405);
    height: 100%;
    width: 100%;
    cursor: pointer;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    transition: all 0.3s ease-in;
}
.fa-chevron-down{
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}
.text{
    margin-bottom: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text>h3{
    font-size: 3rem;
}
.text>h1{
    font-style: italic;
}
.arrows:hover > .fa-chevron-down { 
    transform: translateY(0.7rem);
}
.arrows:hover{ 
    background-color:rgb(255, 255, 255);
}
.main-point, .blog{
    margin: 10rem 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cat-photo{
    width: 20%;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.2rem rgb(0, 0, 0);
}
.blog-name{
    font-size: 3rem;
}
.summary{
    margin-left: 3rem;
}
.main-ideas, .blog-stuff{
    font-size: 2rem;
}
.divider{
    margin: 0 3rem;
    border-left: 0.5rem solid #af8a4a;
    border-radius: 20px;
    height: 45vh;
}
.blog-stuff{
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
}
.content>h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.sub-question{
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-style: italic;
    text-decoration: underline;
}
.content > p{
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
    font-size: larger;
}
.images{
    width: 45%;
    position: relative;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}
.blog{
    margin-top: 4rem;
}
.quote{
    position: relative;
    padding: 1rem;
    border: 0.5rem solid #af8a4a;
    border-radius: 2rem;
    z-index: 1;
    width: 50%;
    margin-right: 10rem;
    background-color: rgb(0, 0, 0);
}
.quote:before{
    content: '';
    position: absolute;
    bottom: -4.5rem;
    right: 3rem;
    border: 2rem solid;
    border-color: #af8a4a #af8a4a transparent transparent;
    transform: skewX(200deg);

}
.quote:after{
    border-left: 0.5rem solid aquamarine;
    content: '';
    position: absolute;
    bottom: -3.5rem;
    right: 3.6rem;
    border: 1.75rem solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) transparent transparent;
    transform: skewX(200deg);
    
}
.img-box{
    border-radius: 50%;
    border: 2px solid antiquewhite;
    height: 15rem;
    width: 15rem;
    padding: 0.5rem;
}
#bear{
    border-color: rgb(255, 77, 0);
}
#pop-cat{
    border-color: rgb(124, 165, 42);
}
.img-box>img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid;
}
#kled{
    aspect-ratio: 1/1;
    transform: rotateY(180deg);
    border-radius: 50%;
    border: 5px solid rgb(124, 165, 42);
    object-fit: cover;
    object-position: -9.5rem;
    border-color: rgb(42, 91, 165);
}
#film-cameo{
    aspect-ratio: 1/1;
    transform: rotateY(180deg);
    border-color: rgb(165, 151, 42);
}
.fade-in{
    opacity: 0%;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes appear{
    0% {opacity:0%;}
    100%{opacity: 100%; display: block;}
}