#logo{
    width: 4vw;
    margin-top: 1vw;
    margin-right: 1vw;;
    margin-bottom: 1vw;
    margin-left: 2rem;
}
body{
    font-weight: bold;
}
.title{
    font-size: xx-large;
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
}
.card{
    cursor: pointer;
    position: relative;
    border: 10px solid rgba(255, 255, 255, 0.405);
    border-radius: 2rem;
    overflow: hidden;
    height: 60vh;
    width: 25vw;
    z-index: 1;
    box-shadow: 0.2rem 0.2rem 1rem 1rem rgba(0, 0, 0, 0.304);   
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: first baseline;
    transition: all, 0.5s;
    line-height: 2rem;
    margin: 0 2rem 3rem;
}
.card-content{
    flex-basis: 60%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
}
.card-background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    object-position: 35%;
    z-index: -2;
    min-height: 60vh;
    max-width: 25vw;
    filter: brightness(25%);
}
a:nth-child(2) .card-background, a:nth-child(4) .card-background{
    object-fit: fill;
    max-width: 23.7vw;
}
a:nth-child(5) .card-background{
    object-position: -10.3rem -0.9rem;
}
.date{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1.5rem;
    opacity: 80%;
    font-weight: lighter;
    font-style: italic;
}
.tag{
    padding: 0.3rem;
    background-color: rgba(176, 176, 176, 0.392);
    border-radius: 0.3rem;
    flex-basis: 10px;   
    transition: all, 0.3s;
    transition-timing-function: ease-in-out;
}
.card:before, .card:after {
   content: '';
   transform: scale(0);
   transform-origin: top left;
   border-radius: 50%;
   position: absolute;
   left: -50%;
   top: -50%;
   z-index: -1;
   transition: all, 0.5s;
   transition-timing-function: ease-in-out;
}
.card:before {
   background:antiquewhite;
   width: 250%;
   height: 250%;
}
.card:after {
   background: #242427;
   width: 200%;
   height: 200%;
}
.card:hover {
   color: #cba462;
}
.card:hover .tag.personal {
   background: rgba(44, 82, 43, 0.923);
   color: white;
}
.card:hover .tag.work {
    background: rgba(33, 49, 83, 0.923);
    color: white;
 }
.card:hover:before, .card:hover:after {
    transform: scale(1);
 }
  