table{
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 0 0.8rem 0.5rem rgba(12, 14, 18, 0.2);
    width: 40%;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td{
    transition: all 1s ease-in-out;
}
.tables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
thead>tr{
    background-color: rgba(175, 134, 75, 0.3);
}
td, th{
    padding: 1rem;
}
td:not(td[colspan="5"]){
    background-color: #404a5448;
}
th{
    border: none;
}
.tables > table > tbody > tr:nth-child(2), .tables > table > tbody > tr:nth-child(3), .extra-tables > table > tbody > tr:nth-child(1), .extra-tables > table > tbody > tr:nth-child(2){
border-bottom: 1px solid antiquewhite;
}
td[colspan="5"]{
    font-weight: bold;
    font-style: italic;
    background-color: rgba(174, 0, 255, 0.233);
}
tr>td:nth-child(2)[rowspan]{
    border-right: 1px solid rgba(250, 235, 215, 0.498);
}
#logo{
    width: 4vw;
    margin-top: 1vw;
    margin-right: 1vw;;
    margin-bottom: 1vw;
    margin-left: 2rem;
}
.background{
    max-height: 195vh;
}
.exams td{
    border-top: 1px solid rgba(250, 235, 215, 0.498);
}
.progress-back{
    width: 80%;
    height: 5vh;
    border-radius: 5rem;
    background-color: #00006e5b;
    margin-top: 2rem;
    padding: 0.5rem;
    margin-bottom: 6rem;
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem rgba(0, 0, 0, 0.579);
    position: relative;
}
.progress{
    width: 0px;
    height: 100%;
    border-radius: 5rem;
    background: linear-gradient(180deg, rgb(255 0 0) 0%, rgb(255 153 0) 20%, rgb(255 255 0) 40%, rgb(51 255 0) 60%, rgb(0 153 255) 80%, rgb(102 51 255) 100%);
    transition: width ease-in-out 2s;
    position: relative;
}
#bar_cat{
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    z-index: 2;
    height: 6.6rem;
    transition: transform ease-in-out 2s;
}
.exam{
    transition: transform ease-in 0.5s, box-shadow ease-in 1s, background-color ease-in 0.1s;
    cursor: pointer;
}
.exam:hover{
    transform: translateX(-1rem) translateY(-1rem);
    box-shadow: 0.5rem 0.5rem 1rem 0.4rem black;
    background-color: rgba(0, 162, 255, 0.35);
}
.minEc{
    height: 6vh;
    position: absolute;
    left: 74%;
    border-radius: 2rem;
    border: 0.2rem solid antiquewhite;
}
#min{
    position: absolute;
    left: 74%;
    top: 210%;
}
#finish{
    position: absolute;
    left: 99%;
    bottom: 200%;
}
.maxEc{
    height: 6vh;
    position: absolute;
    bottom: 65%;
    left: 99%;
    border-radius: 2rem;
    border: 0.2rem solid antiquewhite;
}
.extra-tables{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    gap: 4rem;
}
#overview tr:not(tr[id="adios"]){
    border-top: 1px solid antiquewhite;
}
#adios{
    background-color: rgba(0, 4, 255, 0.299);
}
#overall > td{
    border-bottom: 0.6rem solid rgb(0, 255, 234); 
    border-top: 3px solid antiquewhite;
    background-color: #ffbf0071;
    font-weight: bolder;
    font-style: italic;
}
.progress-shenanigans{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.completed{
    animation-name: completion;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
@keyframes completion {
    0% { transform: translate(1px, 1px) rotate(0deg); color: lime;}
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  15% { transform: translate(-3px, 0px) rotate(1deg); }
  20% { transform: translate(3px, 2px) rotate(0deg); }
  25% { transform: translate(1px, -1px) rotate(1deg); }
  30% { transform: translate(-1px, 2px) rotate(-1deg); }
  35% { transform: translate(-3px, 1px) rotate(0deg); }
  40% { transform: translate(3px, 1px) rotate(-1deg); }
  45% { transform: translate(-1px, -1px) rotate(1deg); }
  50% { transform: translate(1px, 2px) rotate(0deg); }
  55% { transform: translate(-1px, -2px) rotate(-1deg); }
  60% { transform: translate(-3px, 0px) rotate(1deg); }
  65% { transform: translate(3px, 2px) rotate(0deg); }
  70% { transform: translate(1px, -1px) rotate(1deg); }
  75% { transform: translate(-1px, 2px) rotate(-1deg); }
  80% { transform: translate(-3px, 1px) rotate(0deg); }
  85% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(-1px, -1px) rotate(1deg); }
  95% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2000px) rotate(-1deg); }
}
.fly{
    animation-name: fly;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes fly {
    from{transform: translate(0);}
    to{transform: translate(30rem); display: none;}
}
#trophy{
    position: absolute;
    top: 8rem;
    right: -5rem;
    width: 10vw;
    opacity: 0%;
}
.hidden-trophy{
    display: none;
}
.finished{
    animation-name: acquired;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
@keyframes acquired {
    from{}
    to{transform: translate(-5rem); opacity: 100%;}
}