main{
    display: flex;
    justify-content: space-evenly;
}
.description{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}
.description>h3{
    margin-bottom: 1rem;
}
.description>p{
    padding: 1.5rem;
    border: 2px solid #af8a4a;
    border-radius: 5px;
}
.photo{
    -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.01));
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.01));
    opacity: 80%;
    width: 25vw;
}
.buttons{
    margin-top: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.github, .previousEdu{
    padding: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #af8a4a;
    border-radius: 3rem;
    color: antiquewhite;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    
}
.github:hover{
    background-color: rgb(255, 255, 255);
    border-color: hsl(0, 0%, 0%);
    color: #000;
}
.previousEdu:hover{
    background-color: rgb(255, 255, 255);
    border-color: hsl(0, 0%, 0%);
    color:#000
}